*{
    box-sizing: border-box;
}
.main-container{
    background-image: url("https://source.unsplash.com/user/erondu/1600x900");
    height: 100vh;

  
}
.grid-container{
    display:grid;
}
.grid-container div{
    background-color: #fff;
}
.grid-container .empty{
    background-color: transparent;

}
.email-page header p{
    font-size: 1.2em;
}
.email-page form button{
    background-color: #3b5998;
    border: 1px solid black;
    border-radius: 25px;
    float: right;
    margin-top: 15px;
    color:#fff;
}
.email-page form label{
    font-size: 1.2em;
    font-style: normal;
    font-weight: lighter;
    
}
.email-page form input{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    outline-style: none;
    width: 100%;
    font-size: 1.3em;
}
.email-page h3{
    overflow:hidden;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 50px;
}
.email-page h3:before,h3:after{
    background-color:black;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width:40%;
}
.email-page h3:before{
    right: 0.5em;
    margin-left:-40%;
}
.email-page h3:after{
    left: 0.5em;
    margin-right: -40%;
}
.grid-container section{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 10px;
}
.social_media div{
    border: 1px solid black;
    border-radius: 25px;
    text-align:center;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
}
.social_media span a{
    color: #fff;
}
span a{
    text-decoration: none;
}
.social_media span a:hover{
    text-decoration: none;
}
#facebook{
    background-color: #3b5998;
    padding-left: 12px;
    padding-right: 12px;
}
#apple{
    background-color: black;
}
#google span a{
    color: black;
    background-color: transparent;
}
#google i{
    color: black;
}
.social_media div i{
    color: #fff;
}
.email-page{
    border:2px solid #fff;
    border-radius: 3px;
}
footer p{
    margin-top: 60px;
    margin-bottom: 0px;
}

/*responsive*/
@media(max-width:567px){
    .main-container{
        background-image: none;
    }
}
@media(min-width:567px) and (max-width:780px){
    .main-container{
        display: grid;
        justify-items: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width:781px) and (max-width:991px){
    .grid-container{
        float: right;
        margin-top: 30px;
        margin-right:50px;
        background: transparent;
    }
    .email-page{
        height: 90vh;
    }
}
@media (min-width:992px){
    .grid-container{
        float: right;
        background: transparent;
    }
    .main-container{
        display: grid;
        margin: auto;
        background-size: cover;
        align-items: center;
        justify-items: center;

    }
    .email-page{
        height: 90vh;
    }
}
   