*{
    box-sizing: border-box;
}
.main-container{
    background-image: url("https://source.unsplash.com/user/erondu/1600x900");
}
.grid-container{
    display:grid;
}
.grid-container div{
    background-color: #fff;
}
.grid-container .empty{
    background-color: transparent;

}
.Signup-page header p{
    font-size: 1.2em;
}
.Signup-page form button{
    background-color: #3b5998;
    border: 1px solid black;
    border-radius: 25px;
    float: right;
    margin-top: 15px;
    color:#fff;
}
.Signup-page form label{
    font-size: 1.2em;
    font-style: normal;
    font-weight: lighter;
    
}
.Signup-page form input{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    outline-style: none;
    width: 100%;
    font-size: 1.3em;
}

.grid-container section{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 10px;
}

.Signup-page{
    border:2px solid #fff;
    border-radius: 3px;
}
footer p{
    margin-top: 60px;
    margin-bottom: 0px;
    overflow-wrap: break-word;
}
.button{
    display: grid;

}
.button span{
    border: 1px solid #000;
    border-radius: 25px;
    background-color: royalblue;


}
.button span a{
    color: #fff;
    text-decoration: none;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
}
a{
    text-decoration: none;
}
 

/*responsive*/
@media(max-width:567px){
    .main-container{
        background-image: none;
        background-repeat: no-repeat;
        
    }
}
@media(min-width:567px) and (max-width:780px){
    .main-container{
        display: grid;
        justify-items: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width:781px) and (max-width:991px){
    .grid-container{
        float: right;
        background: transparent;
    }
    .main-container{
        display: grid;
        margin: auto;
        background-size: cover;
        align-items: center;
        justify-items: center;

    }
}
@media (min-width:992px){
    .grid-container{
        float: right;
        background: transparent;
    }
    .main-container{
        display: grid;
        margin: auto;
        background-size: cover;
        align-items: center;
        justify-items: center;

    }
}
   