*{
    box-sizing: border-box;
}
.main-container{
    background-image: url("https://source.unsplash.com/user/erondu/1600x900");
    background-attachment: fixed;
    height: 100%;
}
.grid-container{
    display:grid;
}
.grid-container div{
    background-color: #fff;
}
.grid-container .empty{
    background-color: transparent;

}
.Signup-page form label{
    font-size: 1em;
    font-style: normal;
    font-weight: lighter;
    
}
.Signup-page form input{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    outline-style: none;
    width: 100%;
    font-size: 1em;
}

.grid-container section{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 10px;
}

.Signup-page{
    border:2px solid #fff;
    border-radius: 3px;
}
.policy{
    font-size: 0.7em;
    font-style: normal;
    font-weight: normal;
}
footer p{
    margin-top: 60px;
    margin-bottom: 0px;
    overflow-wrap: break-word;
}
a{
    text-decoration: none;
}
.button button{
    border: 1px solid #000;
    border-radius: 15px;
    color: #fff;
    background-color:#0437f2;
}
 

/*responsive*/
@media(max-width:567px){
    .main-container{
        background-image: none !important;
        background-repeat: no-repeat;
        
    }
}
@media(min-width:567px) and (max-width:780px){
    .main-container{
        display: grid;
        justify-items: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width:781px) and (max-width:991px){
    .grid-container{
        float: right;
        background: transparent;
    }
    .main-container{
        display: grid;
        margin: auto;
        background-size: cover;
        align-items: center;
        justify-items: center;

    }
}
@media (min-width:992px){
    .grid-container{
        float: right;
        background: transparent;
    }
    .main-container{
        display: grid;
        margin: auto;
        background-size: cover;
        align-items: center;
        justify-items: center;

    }
}
   